[Unit]
Description=Ejecuta el Bot
After=network.target sound.target

[Service]
Type=simple
# Ruta del usuario y entorno
User=zafiro
WorkingDirectory=/home/zafiro/raspberry_pi

# Variables de entorno necesarias
Environment="MPG123_OUTPUT=alsa"
Environment="MPG123_DEV=plughw:3,0"
Environment="HOME=/home/zafiro"
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="XDG_RUNTIME_DIR=/run/user/1000"

# Ejecuta el script usando el python del entorno virtual
ExecStart=/home/zafiro/raspberry_pi/entorno_virtual/bin/python bot.py

# Reiniciar automáticamente si se cae
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
