[Unit]
Description=Captura imagen
After=network.target

[Service]
Type=simple
# Ruta del usuario y entorno
User=zafiro
WorkingDirectory=/home/zafiro/raspberry_pi

# Ejecuta el script usando el python del entorno virtual
ExecStart=/home/zafiro/raspberry_pi/entorno_virtual/bin/python captura_imagen.py

# Reiniciar automáticamente si se cae
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
